Source: lightningmf
Maintainer: Nicolas Vanhoren <nicolas.vanhoren@fakemail.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7), python-support (>= 0.8.4)
Standards-Version: 3.8.4
XS-Python-Version: current

Package: lightningmf
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-sqlalchemy (>= 0.7.4), python-pysqlite2 (>= 2.6.3), python-pyside.qtcore (>= 1.1.0), python-pyside.qtgui (>= 1.1.0), python-pyside.qtuitools (>= 1.1.0)
XB-Python-Version: >= 2.7
Provides: ${python:Provides}
Description: Lightning MAME Frontend
 Lightning MAME Frontend is a simple and effective MAME Frontend.
