#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/usr/share/pyshared/lightningmf_pk/logo.png
Name[en_US]=Lightning MAME Frontend
Exec=lightningmf
Name=Lightning MAME Frontend
Icon=gnome-panel-launcher
