Package: lightningmf
Source: 
Version: 1.0.0
Architecture: amd64
Maintainer: Nicolas Vanhoren <nicolas.vanhoren@fakemail.com>
Installed-Size: 1000
Depends: python (>= 2.7.3), python-sqlalchemy (>= 0.7.4), python-pysqlite2 (>= 2.6.3), python-pyside.qtcore (>= 1.1.0), python-pyside.qtgui (>= 1.1.0), python-pyside.qtuitools (>= 1.1.0)
Conflicts:
Replaces:
Section:
Priority: optional
Homepage: https://github.com/nicolas-van/lightningmf
Description: Lightning MAME Frontend
    A simple and effective MAME Frontend for Linux.
